server:
  port: 9000

spring:
  cache:
    cache-names:
    - books
    
management:
  server:
    address: 127.0.0.1
    port: 9001
  endpoint:
    prometheus:
      enabled: true
    beans:
      enabled: true
    health:
      show-details: always
  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include:
        - "*"